common/epub/**/*.epub
common/epub/**/*.fb2
common/epub/**/*.lrf
common/epub/**/*.mobi
common/epub/**/*.pdb
common/pdf/build/gs/*/*.pdf
common/pdf/build/gs/*/*.png
common/pdf/build/gs/*/*.jpg
common/pdf/build/gs/*/*.tex
common/pdf/build/gs/*/*.tex.orig
common/pdf/build/gs/*/*.tex.rej
common/pdf/build/gs/*/*.toc
common/pdf/build/gs/*/*.out
common/pdf/build/gs/*/*.aux
common/pdf/build/gs/*/*.log
common/pdf/build/gs/*/*.sty
common/pdf/build/gs/*/convert-images
common/pdf/build/gs/*/link-images
common/pdf/build/lw/*/*.pdf
common/pdf/build/lw/*/*.png
common/pdf/build/lw/*/*.jpg
common/pdf/build/lw/*/*.tex
common/pdf/build/lw/*/*.tex.orig
common/pdf/build/lw/*/*.tex.rej
common/pdf/build/lw/*/*.toc
common/pdf/build/lw/*/*.out
common/pdf/build/lw/*/*.aux
common/pdf/build/lw/*/*.log
common/pdf/build/lw/*/*.sty
common/pdf/build/lw/*/convert-images
common/pdf/build/lw/*/link-images
en/dot/*
en/epub/*
en/svg/*
en/xhtml*
logs/*
tmp/*
